doctype html
html(lang='en' ng-app='app')
  head
    title= title
    meta(charset='utf-8')
    meta(name='author' content='Kyle Walter')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='/css/style.css')
    base(href='/')
  body
    block content

    script(src='/js/jquery.min.js')
    script(src='/js/tether.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/all.js')
