doctype html
html(lang='en' ng-app='scoreitApp')
  head
    title= title
    meta(charset='utf-8')
    meta(name='author' content='Kyle Walter')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='/css/style.css')
  body

    block app

    script(src="js/app.js")
