extends layout

block content

  .container-fluid
    .row
      .col-md-6.offset-md-3.col-xs-8.offset-xs-2
        img.img-fluid.rounded.mx-auto.d-block(src='images/baseball.png')
    .row
      .col-md-4.offset-md-4.col-sm-6.offset-sm-3.col-xs-12
          form(action='/auth/register' method='post')
            .card
              .card-header.dirt
                h2.text-white Register
              .card-block
                .form-group
                  label.sr-only First Name
                  input.form-control#inputFirstName(type='text' name='firstName' placeholder='First Name' required autofocus)
                .form-group
                  label.sr-only Last Name
                  input.form-control#inputLastName(type='text' name='lastName' placeholder='Last Name' required )
                .form-group
                  label.sr-only Username
                  input.form-control#inputLastName(type='text' name='username' placeholder='Username' required )
                .form-group
                  label.sr-only Email
                  input.form-control#inputEmail(type='email' name='email' placeholder='Email Address' required )
                .form-group
                  label.sr-only Account Type
                  select.form-control#inputAccountType(name='accountType' required)
                    option(selected) Account Type
                    option(value='leagueManager') League
                    option(value='coach') Team
                    option(value='player') Player
                    option(value='viewer') Viewer
                .form-group
                  label.sr-only Password
                  input.form-control#inputPassword1(type='password' name='password' placeholder='Password' required)
                .form-group
                  label.sr-only Confirm Password
                  input.form-control#inputPassword2(type='password' name='confirm-password' placeholder='Confirm Password' required)
                span
                  a.btn.btn-link(href='/auth/login' target='_self') Login
                  a.btn.btn-link(href='/auth/forgot' target='_self') Forgot password?
              .card-footer
                button.btn.btn-lg.btn-secondary.btn-block(type='submit') Register
