
h1 {{title}}

.container(ng-init='init()')
  .row
    .col-md-10.col-offset-md-1
      .card
        table.table.table-hover
          thead
            tr
              th Username
              th Email
              th Role
          tbody
            tr(ng-repeat='user in users')
              td {{user.username}}
              td {{user.email}}
              td {{user.role}}

