extends layout

block content
   form(action='/auth/login' method='post')
            h1 Login
            label Email
            input(type='email' name='email')
            label Password
            input(type='password' name='password')
            button(type='submit') Login